USE [master]
GO
/****** Object:  Database [Gerasimov.D.]    Script Date: 04.04.2024 21:37:02 ******/
CREATE DATABASE [Gerasimov.D.]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gerasimov.D.', FILENAME = N'D:\MSSQL\Data\Gerasimov.D..mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gerasimov.D._log', FILENAME = N'D:\MSSQL\Data\Gerasimov.D._log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gerasimov.D.].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gerasimov.D.]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 04.04.2024 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Group] [varchar](50) NOT NULL,
	[Course] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 04.04.2024 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[FullName] [varchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Grants] [float] NOT NULL,
	[E-mail] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 04.04.2024 21:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[LastName] [varchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Age] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
